* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

@media (min-width: 992px) {
	.lap-3 {
		width: 32%;
		margin: 0.6%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.tab-2 {
		width: 48%;
		margin: 1%;
	}
	.tab-1 {
		margin: 1%;
	}
}

@media (max-width: 767px) {
	.mob-1 {
		margin: 1%;
	}
}

h1 {
	text-align: center;
}

.lap-3, .tab-2, .tab-1, .mob-1 {
	position: relative;
	float: left;
	background: grey;
	height: 160px;
	border: 1px black solid;
}


.item1 {
	position: absolute;
	top: 0px;
	right: 0px;
	background: limegreen;
	font-size: 125%;
	border: 1px black solid;
	text-align: center;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

div > p {
	position: relative;
	top: 25px;
	margin: 10px;
}

.item2 {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #f38804;
	font-size: 125%;
	border: 1px black solid;
	text-align: center;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.item3 {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #03e0fc;
	font-size: 125%;
	border: 1px black solid;
	text-align: center;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
}